
<div class="container">

<div>
  <ul class="list-stepper">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </ul>
</div>

<div class="content">
  <div id="first">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint odio ullam
      deserunt, alias eaque quis recusandae, exercitationem officia accusantium
      quae placeat architecto vitae laudantium commodi provident iure rem.
      Aperiam, illo.
    </p>
  </div>
  <div id="second">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint odio ullam
      deserunt, alias eaque quis recusandae, exercitationem officia accusantium
      quae placeat architecto vitae laudantium commodi provident iure rem.
      Aperiam, illo.
    </p>
  </div>
  <div id="third" >
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
  <div id="four">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint odio ullam
      deserunt, alias eaque quis recusandae, exercitationem officia accusantium
      quae placeat architecto vitae laudantium commodi provident iure rem.
      Aperiam, illo.
    </p>
  </div>
</div>

</div>
