<div class="container">
  <ul class="list-stepper">
    <li>4</li>
    <li>3</li>
    <li>2</li>
    <li>1</li>
  </ul>
  <div class="content">
    <div id="first">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint odio ullam
        deserunt, alias eaque quis recusandae, exercitationem officia
        accusantium quae placeat architecto vitae laudantium commodi provident
        iure rem. Aperiam, illo.
      </p>
    </div>
    <div id="second">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint odio ullam
        deserunt, alias eaque quis recusandae, exercitationem officia
        accusantium quae placeat architecto vitae laudantium commodi provident
        iure rem. Aperiam, illo.
      </p>
    </div>
    <div id="third">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div id="four">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint odio ullam
        deserunt, alias eaque quis recusandae, exercitationem officia
        accusantium quae placeat architecto vitae laudantium commodi provident
        iure rem. Aperiam, illo.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <h2>card heading</h2>
  <div class="row">
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
        deleniti! Repellendus eius sequi dolores distinctio ex assumenda quae
        error illo recusandae sed! Rerum asperiores nobis saepe quos odio, sed
        exercitationem.
      </p>
      <img
        src="//www.html.am/images/html-codes/links/boracay-white-beach-sunset-300x225.jpg"
        width="300"
        height="225"
        alt="Photo of White Beach in Boracay, Philippines"
      />
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis libero,
        dolorum dignissimos fugiat totam maiores ad saepe quos non accusantium
        minima odit doloribus ex odio quibusdam deserunt molestias minus
        ducimus.
      </p>
      <img
        src="//www.html.am/images/html-codes/links/boracay-white-beach-sunset-300x225.jpg"
        width="300"
        height="225"
        alt="Photo of White Beach in Boracay, Philippines"
      />
    </div>
  </div>
</div>
